<div class="container-fluid">
    <div class="row">

        <div class="col-12 inicio">
          <div>
            <h2>Bienvenidos a {{title}}</h2>
            <h4>
              Aca vas a encontrar una variedad de productos separados en diferente categorias.<br>
              Cada uno contiene su descripcion y caracteristicas, nos podes hacer las consultas que desees.<br>
              Si te interesa alguno de ellos, solo nos tenes que escribir y coordinamos la entrega.<br>
              Cualquier sugerencia sera bienvenida, cualquier duda respondida!<br>
            </h4>
            <h3>¡¡¡Que te diviertas y encuentre algo lindo y util!!!</h3>
          </div>
        </div>
        
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card cardinicio">
              <h5 class="card-title">Muebles</h5>
              <a href="/muebles">
              <img src="/images/escritorio120.jpg" class="d-block w-100" alt="...">
              <a href="/muebles" class="btn btn-warning">Ver Muebles</a></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card cardinicio">
              <h5 class="card-title">Libros</h5>
              <a href="/libros">
              <img src="/images/lestres.jpg" class="d-block w-100" alt="...">
              <a href="/libros" class="btn btn-warning">Ver Libros</a></a>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card cardinicio">
              <h5 class="card-title">Varios</h5>
              <a href="/varios">
              <img src="/images/contadorbilletes.jpg" class="d-block w-100" alt="...">
              <a href="/varios" class="btn btn-warning">Ver Varios</a></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card cardinicio">
              <h5 class="card-title">Tecnologia</h5>
              <a href="/tecnologia">
              <img src="/images/monitor.jpg" class="d-block w-100" alt="...">
              <a href="/tecnologia" class="btn btn-warning">Ver Tecnologia</a></a>
            </div>
          </div>

    </div>
</div>
